<!DOCTYPE html>
<html>
  <head>
    <title>Kiapan Project</title>
    <link rel="stylesheet" href="/css">
  </head>
  <body>
    <span id="acct-stat">
      {% if logged_in 
        Logged In as &nbsp; <b> {{ uname }}@{{ descrim }}</b>
      %}
    </span>

    <div class="messages">
      <div id="messages">
        <div class="message {% if me message-sent %} {% if mentioned message-mentioned %}">
          <i class="message-timestamp">{{ timestamp }}</i>
          <b class="message-sender">{{ sender }}{% if descrim @{{descrim}} %}:</b>
          <span class="message-body">{{ msg }}</span>
        </div>
      </div>
    </div>

    <form id="input">
      <input id="msgbox" autocomplete="off" />
      <button id="send">Send</button>
    </form>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/frontend"></script>
    <script src="/socket"></script>
    <script src="/js"></script>
  </body>
</html>
